body {
	margin:0px;
	padding:0px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: url('./background.jpg');
	color: #fff;
}

.logo {
	width: 100%;
	background-color: #fff;
}

.content {
	padding: 30px 30px 50px;
	line-height: 1.5;
}

.top-up {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
}